networks:
  power-dns:

volumes:
  mysql-data:

services:
  db:
    image: mysql:8.0-bullseye
    container_name: powerdns-mysql-db
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mysql-init/create-dbs.sql:/docker-entrypoint-initdb.d/01-create-dbs.sql:ro
      - ./mysql-init/pdns-schema.sql:/docker-entrypoint-initdb.d/02-pdns-schema.sql:ro
    networks:
      - power-dns
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot --password=\"$$MYSQL_ROOT_PASSWORD\" || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  db-adminer:
    image: adminer:4-fastcgi
    container_name: powerdns-mysql-adminer
    restart: unless-stopped
    ports:
      - "127.0.0.1:18080:8080"  # Access Adminer at http://localhost:18080, for local access only
    networks:
      - power-dns
    depends_on:
      db:
        condition: service_healthy

  powerdns:
    image: powerdns/pdns-auth-48:4.8.4
    container_name: powerdns-auth
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "${PDNS_BIND_IP}:53:53/udp"
      - "${PDNS_BIND_IP}:53:53/tcp"
      - "${PDNS_BIND_IP}:18081:8081/tcp" # PowerDNS Authoritative API
    environment:
      # MySQL Backend
      - PDNS_launch=gmysql
      - PDNS_gmysql_host=db
      - PDNS_gmysql_user=pdns
      - PDNS_gmysql_dbname=pdns
      - PDNS_gmysql_password=${DB_PASSWORD}

      # API Settings
      - PDNS_api='yes'
      - PDNS_api-key=${API_KEY}
      - PDNS_webserver='yes'
      - PDNS_webserver-address=0.0.0.0
      - PDNS_webserver-port=8081
      - PDNS_webserver-allow-from=0.0.0.0/0

      # Other Settings
      - PDNS_master='yes'
      - PDNS_default-soa-edit='INCEPTION-INCREMENT'
      - PDNS_loglevel='4'
    depends_on:
      db:
        condition: service_healthy
    networks:
      - power-dns

  powerdns-admin:
    image: powerdnsadmin/pda-legacy:v0.4.1
    container_name: powerdns-admin
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "127.0.0.1:18082:80"  # Access PowerDNS Admin at http://localhost:18082, for local access only
    environment:
      - SQLALCHEMY_DATABASE_URI=mysql://pdns:${DB_PASSWORD}@db/powerdnsadmin
      - GUNICORN_TIMEOUT=60
      - GUNICORN_WORKERS=2
      - SECRET_KEY=${API_KEY}
    depends_on:
      db:
        condition: service_healthy
      powerdns:
        condition: service_started
    networks:
      - power-dns
